extends base

block content
    if errorMessage
        span=errorMessage
    form.general-form(method="post" enctype="multipart/form-data")
        img.edit-profile-avatar(src=`/${user.avatarUrl}`)
        label(for="avatar") Set your avatar image
        input(name="avatar" type="file"  accept="image/*" id="avatar")
        input(name="username" value=user.username required)
        input(name="email" value=user.email type="email" required)
        input(name="nickname" value=user.nickname required)
        input(value="Update profile" type="submit")
    hr
    if !user.socialID
        a(href="change-password").button.change-password Change password