extends base.pug

block content 
    div#videoContainer(data-id=video.id)
        video(src=`/${video.videoUrl}` poster=`/${video.thumbnailUrl}`)
        div#controls
            div#playNmute
                button#playBtn
                    <i class="fa-solid fa-play"></i>
                button#muteBtn 
                    <i class="fa-solid fa-volume-high"></i>
                input#volumeControl(type="range" min="0" max="1" value="0.5" step="0.1") 
            div.timeline-container
                input(type="range", min="0", value=0)#timeline
                span#currentTime 00:00 
                span  / 
                span#totalTime 00:00
            div
                button#fullScreen 
                    <i class="fa-solid fa-expand"></i>
    div.video-meta
        h1.video-meta__title=video.title
        div.video-meta__info
            div.video-meta__info__user
                div.video-meta__info__user__avatar
                    a(href=`/users/${video.owner._id}`)
                        img(src=`/${video.owner.avatarUrl}`)
                div.video-meta__info__user__profile
                    a(href=`/users/${video.owner._id}`)
                        span=video.owner.username
            div.video-meta__infor__misc
                div.video-meta__infor__misc__likes
                    if loggedIn
                        if loggedInUser.likedVideos.includes(video.id)
                            button.button.active-button#videoLikes 
                                <i class="fa-regular fa-thumbs-up"></i>
                                if video.meta.likes>0
                                    span#videoLikesCount=video.meta.likes
                                else 
                                    span#videoLikesCount 0
                        else
                            button.button#videoLikes 
                                <i class="fa-regular fa-thumbs-up"></i>
                                if video.meta.likes>0
                                    span#videoLikesCount=video.meta.likes
                                else 
                                    span#videoLikesCount 0
                        if loggedInUser.dislikedVideos.includes(video.id)
                            button.button.active-button#videoDislikes
                                <i class="fa-regular fa-thumbs-down"></i>
                        else
                            button.button#videoDislikes
                                <i class="fa-regular fa-thumbs-down"></i>
                                span 
                    else
                        button.button#videoLikes(disabled="true") 
                            <i class="fa-regular fa-thumbs-up"></i>
                            span#videoLikesCount=video.meta.likes
                        button.button#videoDislikes(disabled="true")
                            <i class="fa-regular fa-thumbs-down"></i>
                            span 
        div.video-meta__detail
            span.video-meta__detail__views #{video.meta.views} views   
            span.video-meta__detail__date #{video.createdAt}
            each hashtag in video.hashtags
                span#hashtag=hashtag
            p=video.description
        if loggedInUser.username===video.owner.username
            a.button(href=`${video.id}/edit`) Edit this video &rarr;
            br
            a.button(href=`${video.id}/delete`) Delete this video &rarr;
    div#commentSection.commentSection
        div#commentNumber.commentSection__commentNumber
        div.commentSection_form-container
            if loggedIn
                img.commentSection_avatar(src=`/${loggedInUser.avatarUrl}`)
                form.commentSection_form
                    textarea(placeholder="Write your comment" name="comment")
                    div.commentSection_form_button-container
                        button.button Comment
            if !loggedIn
                span.commentSection__notice Log in first to write a comment.
        ul#commentList.comment-lists
            each comment in video.comments.reverse()
                li(data-id=comment._id).comment-list
                    div.comment-wrapper
                        a(href=`/users/${comment.user._id}`)
                            img.comment-list__avatar(src=`/${comment.user.avatarUrl}`)
                        
                        div.comment-list__comment
                            a(href=`/users/${comment.user._id}`)
                                h3.comment-list__comment__user @#{comment.user.nickname}
                            p.comment-list__comment__text=comment.text
                    if loggedInUser.username==comment.user.username
                        div.comment-list__comment__menu#commentMenu(data-id=comment._id)
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                            //- div.menu__options.hidden#commentMenuOptions(data-id=comment._id)
                            //-     div.menu__option#commentRemoveBtn(data-id=comment._id)
                            //-         <i class="fa-solid fa-trash"></i>
                            //-         span remove
                            //-     div.menu__option#commentEditBtn(data-id=comment._id)
                            //-         <i class="fa-solid fa-pen"></i>
                            //-         span Edit
                li(data-id=comment._id).comment-form-list.hidden
                    div.commentSection_form-container
                        if loggedIn
                            img.commentSection_avatar(src=`/${loggedInUser.avatarUrl}`)
                            form.commentSection_form#commentEditForm(data-id=comment._id)
                                textarea(placeholder="Write your comment" name="comment")
                                div.commentSection_form_button-container
                                    button.button#commentEditCancelBtn Cancel
                                    button.button#commentEditSubmitBtn(type="submit") Edit
                    

block scripts
    script(src="/assets/js/video.js")
    if loggedIn
        script(src="/assets/js/comment.js")  