extends base.pug

block content 
    h1=video.title
    video(src=`/${video.url}` width="300px" height="300px" controls)
    div
        button#playBtn Play
        button#muteBtn Mute
        input#volumeControl(type="range" min="0" max="1" value="0.5" step="0.1") 
        div 
            span#currentTime 00:00 
            span  / 
            span#totalTime 00:00
    //- div
    //-     img(src=`/${user.avatarUrl}` width="50px" height="50px")
    //-     a(href=`/users/${video.owner._id}`)=video.owner.username
    //- p=video.description
    //- p=video.createdAt
    //- for hashtag in video.hashtags
    //-     span=hashtag
    //- p views: #{video.meta.views}
    //- p rating: #{video.meta.rating}
    //- if user.username===video.owner.username
    //-     a(href=`${video.id}/edit`) Edit this video &rarr;
    //-     br
    //-     a(href=`${video.id}/delete`) Delete this video &rarr;
block scripts
    script(src="/assets/js/video.js")  